// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$oa-color: #e66460;
$login-bg: url('/img/login-bg.jpg');
$sidebar-bg: url('/img/sidebar-bg.jpg');
$quarry-registration-bg: url('/img/quarry-registration-bg.jpg');
$company-registration-bg: url('/img/company-registration-bg.jpg');
$sidebar-width: 250px;
$header-height: 75px;
$large-input-height: 35px;